@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

html,body{
    background-color: rgb(132, 196, 217);
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    min-width: 320px;
}

header{
    font-size: 1em;
    font-weight: 700;
    margin: 20px;
    padding: 5px;
}

#container{
    background-color:rgb(200, 200, 200);
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    width: 95%;
    margin: 0 auto;
}

.row-labels{
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 8px;
    background-color:red;

}

.rightTab{
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
    background-color: blue;
}

header h1,h3{
    margin:0;
    padding:0;
}

#title{
    font-size: 3em;
}

/*NAME, EMAIL, AGE FIELDS
======================== */
#contact-info{
    
}

/*DROPDOWN MENU
=============== */
#dropdown-info{
    
}

/*GENDER FIELD
============== */
.radio{
    position: relative;
   left: -40px;
}


/*TRANSPORTATION FORM
===================== */
#transportation-form{

}

/*TEXTAREA
========== */
#text-area{

}

#comment-box{
    resize: vertical;
}

/*SUBMIT BUTTON
=============== */
#submit-button{
    background: transparent;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    border: none;
    border-radius: 7px;
    padding: 10px 60px;
    text-align: center;
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#button-area{
    display:flex;
    justify-content: center;
    padding: 1em;   
}

/* FOOTER
========== */
footer{
    font-size: 0.8em;
    text-align: center;
}